$font-size-initial: 62.5%; // reset default browser value from 16px to 13px
$font-size-base: 1.4rem !default;
$font-size-lg: 1.8rem !default;
$font-size-sm: 1.2rem !default;
$font-size-larger: 1.6rem;
$font-size-header-popup: 2.4rem !default;
$font-size-mini: 1rem;
$font-size-index: 0.9rem;
$font-family-base: 'Montserrat', sans-serif;

$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #d6dee5 !default;
$gray-400: #c1ccd3 !default;
$gray-500: #a3aeb7 !default;
$gray-600: #798892 !default;
$gray-700: #495057 !default;
$gray-800: #3c484f !default;
$gray-900: #29323a !default;
$black: #000 !default;
$gray-light: $gray-100 !default;

$blue: #547fff !default;
$indigo: #7f3ddb !default;
$purple: #846eab !default;
$pink: #e54e9a !default;
$red: #f55d5d !default;
$orange: #ff7d47 !default;
$yellow: #ffc247 !default;
$green: #43a047 !default;
$teal: #3abf94 !default;
$light-green: rgba(58, 191, 148, 0.5294117647058824) !default;
$cyan: #17a2b8 !default;

@mixin theme {
  /*
  * Colors
  * ========================================================================
  */
  --colors-background: #fff;
  --colors-primary: #17a2b8;
  --colors-secondary: #798892;
  --colors-success: #43a047;
  --colors-info: #846eab;
  --colors-warning: #ffc247;
  --colors-danger: #f55d5d;
  --colors-dark: #3c484f;
  --colors-inverse: #495057;
  --colors-gray: #d6dee5;
  --colors-light: #f8f9fa;
  --colors-default: #e9ecef;
  --colors-primary-light: #dee4ee;
  --colors-success-light: #ecfaec;
  --colors-info-light: #f2fafa;
  --colors-warning-light: #fdf7e6;
  --colors-danger-light: #fff2ef;
  --colors-body-bg: #f8f9fa;
  --colors-white: #fff;
  --colors-gray-light: #f8f9fa;
  --colors-border-color: #c4c4c4;
  --colors-green-light: #00c853;
  --colors-disabled: #f3f3f3;
  --colors-textInfoBg: #f8cbd0;
  --colors-textInfoBorder: #a6a1a4;
  --colors-lineHeader: #7d7d7d;
  --lightness: #7d7d7d;

  /*
  * Typography
  * ========================================================================
  */
  --typography-font-size-initial: 62.5%;
  --typography-font-size-base: 1.4rem;
  --typography-font-size-lg: 1.8rem;
  --typography-font-size-sm: 1.2rem;
  --typography-font-size-larger: 1.6rem;
  --typography-font-size-mini: 1rem;
  --typography-font-size-index: 0.9rem;
  --typography-font-family-base: 'Montserrat', sans-serif;
  --typography-link-color: #218bc3;
  --typography-text-color: #495057;
  --typography-font-weight-bold: 700;
  --typography-font-weight-semi-bold: 600;
  --typography-font-weight-normal: 400;
  --typography-font-weight-thin: 300;
  --typography-font-weight-base: 400;
  --typography-font-size-header-popup: 2.4rem;

  /*
  * Spacing
  * ========================================================================
  */
  --spacing-gutter-vertical: 2.4rem;
  --spacing-gutter-horizontal: 2.4rem;
  --spacing-header-spacing-small: 0.5rem;
  --spacing-header-spacing-medium: 1rem;
  --spacing-header-spacing-large: 2rem;

  /*
  * General
  * ========================================================================
  */
  --general-border-radius: 4px;

  /*
  * Sidebar
  * ========================================================================
  */
  --sidebar-bg-color: #35343b;
  --sidebar-color: #fff;
  --sidebar-width: 10rem;
  --sidebar-widthClosed: 6rem;

  /*
  * Topbar
  * ========================================================================
  */
  --topbar-bg-color: #e9ecef;
  --topbar-color: #000;
  --topbar-height: 7rem;

  /*
  * LinkHeader
  * ========================================================================
  */
  --linkHeader-active: #fff;
  /*
  * PaperHeader
  * ========================================================================
  */
  --paperHeader-color: #fff;
}

:root {
  @include theme;
}

body[data-theme='light'] {
  @include theme;
}

body[data-theme='dark'] {
  @include theme;
  filter: invert(1) hue-rotate(180deg);
}
